/* GLOBAL STYLES */
body, html, * {
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

#header-nav, #main-pg, #footer-nav {
    margin: auto;
}

/* HEADER STYLES */

#navigation {
    padding: 1em;
}

ul#nav-ls li a {
    padding: 10px;
}

ul#nav-ls li a:hover {
    border-bottom: 1px solid black;
}

/* MAIN CONTENT STYLES */
#profile-img img {
    width: 250px;
    height: 275px;
    padding: 1em;
}

#about-me {
    font-size: larger;
}

.archive_item-title a {
    margin-bottom: .25em;
    font-size: .8em;
    color: #52adc8;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    text-decoration: underline;
}

li {
    margin: .5em .5em 0 0;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
}